<!DOCTYPE kpartgui>
<gui name="buildsystem" library="libkdevgobuildsystem" version="5" translationDomain="kdevgo">
  <MenuBar>
  <Menu name="run">
   <text context="@title:menu">Run</text>
   <Action name="build_target"/>
  </Menu>
</MenuBar>
</gui>
